# from Dashboard
Dashboard/node_modules/
Dashboard/dist/




# from Backend
Backend/venv/
Backend/analytics/__pycache__/
Backend/analytics/migrations/
Backend/analytics/views/__pycache__
Backend/core/__pycache__/
Backend/core/migrations/
Backend/user/__pycache__/
Backend/user/migrations/
Backend/logs/app.log





