amqp==5.3.1
asgiref==3.11.1
billiard==4.2.4
celery==5.6.2
certifi==2026.2.25
charset-normalizer==3.4.5
click==8.3.1
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cloudpickle==3.1.2
Django==6.0.3
django-cors-headers==4.9.0
django-ratelimit==4.1.0
django-redis==6.0.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
et_xmlfile==2.0.0
idna==3.11
joblib==1.5.3
kombu==5.6.2
llvmlite==0.46.0
numba==0.64.0
numpy==2.4.2
nvidia-nccl-cu12==2.29.7
openpyxl==3.1.5
packaging==26.0
pandas==3.0.1
prompt_toolkit==3.0.52
psycopg2-binary==2.9.11
PyJWT==2.11.0
python-dateutil==2.9.0.post0
redis==7.2.1
requests==2.32.5
scikit-learn==1.6.1
scipy==1.17.1
shap==0.51.0
six==1.17.0
slicer==0.0.8
sqlparse==0.5.5
threadpoolctl==3.6.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
urllib3==2.6.3
vine==5.1.0
wcwidth==0.6.0
xgboost==2.1.3
